body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  padding: 20px;
}
.header {
  font-size: 1.2rem;
  padding: 20px;
  background-color: rgb(220, 235, 246);
}
.main {
  margin: 20px auto;
  width: 80%;
  padding-top: 20vh;
  padding-bottom: 30vh;
  background-color: rgb(220, 235, 246);
  text-align: center;
}

input,
.btn {
  padding: 7px;
  font-size: 1rem;

  border-radius: 5px;
}
.btn-logout {
  border: 1px solid red;
  color: red;
}
.btn-login {
  border: 1px solid green;
  color: green;
}
.btn:hover {
  cursor: pointer;
}
input {
  margin-right: 5px;
}
.form {
  position: absolute;
  top: 15px;
  right: 10px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}
.input-div {
  display: inline;
}
.error-form-input {
  font-size: 0.8rem;
  color: red;
  text-align: center;
}
.error-border {
  border: 1px solid red;
}
.user {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.img-user {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: 1px solid grey;
  border-radius: 50%;
}
.newsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
.item-news {
  width: 45%;
}
.img-news {
  width: 100%;
}
